.heading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

button {
    border: none;
    border-radius: 100%;
    padding: 0.3rem;
}
.sk-list {
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

.skill {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.5rem;
    background-color: rgb(228, 224, 224);
}

.personal-details {
    display: table;
}

.personal-details > div {
    display: table-row;
}

.personal-details > div > div {
    display: table-cell;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

.qualification-details {
    display: table;
}

.qualification-details > div {
    display: table-row;
}

.qualification-details > div > div {
    display: table-cell;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}