.heading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

button {
    border: none;
    border-radius: 100%;
    padding: 0.3rem;
}

button:hover {
    background-color: rgb(200, 200, 200);
}

#skills-body > ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

#skills-body > ul > li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.5rem;
    background-color: rgb(228, 224, 224);
}

#personal-details-body {
    display: flex;
    flex-direction: column;
}

#personal-details-body > div {
    display: flex;
}

#personal-details-body > div > div {
    min-width: 5rem;
    padding: 0.2rem 0.2rem 0.2rem 0;
}

#education-body {
    display: table;
}

#education-body > div {
    display: table-row;
}

#education-body > div > div {
    display: table-cell;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

